<div id="output"></div>
<script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
<!-- <% var test = 77; %> -->
<h1><%= titlee %></h1>
<script>




       var getTest = <%= test  %>;  //var test is now assigned to getTest which will only work on browsers
       console.log("------w", getTest);  // successfully prints 101 on browser
</script>